<div class="navbar">
    <div class="left-nav nav-menu">
        <h3>Themify</h3>
    </div>
    <div class="center-nav nav-menu">
        <div class="nav-option-icon">
            <span class="fa fa-fw fa-mobile"></span>
        </div>
        <div class="nav-option-icon">
            <span class="fa fa-fw fa-tablet"></span>
        </div>
        <div class="nav-option-icon">
            <span class="fa fa-fw fa-laptop"></span>
        </div>
        <div class="nav-option-icon active">
            <span class="fa fa-fw fa-desktop"></span>
        </div>
    </div>
    <div class="right-nav nav-menu">
        <div class="nav-option-icon">
            <span class="fa fa-fw fa-eye-slash"></span>
        </div>
        <div class="nav-option-icon">
            <span class="fa fa-fw fa-expand"></span>
        </div>
        <div class="nav-option-icon">
            <span class="fa fa-upload"></span>
        </div>
        <div class="nav-option-icon">
            <span class="fa fa-save"></span>
        </div>
        <div class="nav-option-icon">
            <span class="fa fa-code-fork"></span>
        </div>
        <div class="nav-option-icon">
            <span class="fa fa-fw fa-cog"></span>
        </div>
    </div>
</div>