<app-top-bar></app-top-bar>
<div class="sidebar">
  <div class="sidebar-navigation">
    <div class="sidebar-navigation-menu">
      <span class="fa fa-home"></span>
    </div>
    <div class="sidebar-navigation-menu active" onclick="toggleSidebar(event)">
      <span class="fa fa-plus-circle"></span>
    </div>
    <div class="sidebar-navigation-menu disabled">
      <span class="fa fa-database"></span>
    </div>
    <div class="sidebar-navigation-menu disabled">
      <span class="fa fa-picture-o"></span>
    </div>
    <div class="sidebar-navigation-menu disabled">
      <span class="fa fa-copy"></span>
    </div>
    <div class="sidebar-navigation-menu disabled">
      <span class="fa fa-code"></span>
    </div>
    <div class="sidebar-navigation-menu">
      <span class="fa fa-columns"></span>
    </div>
  </div>
  <div class="sidebar-toggle">
    <div id="components-toggle" class="sidebar-toggle-menu">
      <p>sdsdsdf</p>

    </div>
    <div id="databases-toggle" class="hidden sidebar-toggle-menu">
      <h3>databases-toggle</h3>
      <h1>ddd</h1>
    </div>
  </div>
</div>
<div class="main">
  <iframe src="" class="papper"></iframe>
</div>
<app-inspector></app-inspector>