html {
  overflow: hidden !important;
  height: 100vh;
}

* {
  height: 100%;
  box-sizing: border-box;
  margin: 0px;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: auto;
  background-color: gray;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  height: auto;
  padding: 5px 0;
  font-family: sans-serif;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover>.tooltiptext {
  visibility: visible;
}


.hidden {
  display: none;
}




.treeview-item.collapsed .treeview-item-content {
  display: none;
}

input[type="checkbox"] {
  align-self: flex-start;
}

/*********************/
