<div class="props">
    <div class="props-category-items">
        <div class="prop-category treeview-item">
            <div class="prop-category-header treeview-item-header">
                <a>Identification</a>
            </div>
            <div class="prop-category-content treeview-item-content">
                <!-- <div class="prop-item">
                    <label>
                        Id
                    </label>
                    <input type="text" value="">
                </div>-->
                <div class="prop-item">
                    <label>
                        Class
                    </label>
                    <input type="text" value="">
                </div>
                <div class="prop-item">
                    <label>
                        Include theme name
                    </label>
                    <input type="checkbox" checked="true">
                </div>
            </div>
        </div>
        <!--
        <div class="prop-category treeview-item">
            <div class="prop-category-header treeview-item-header">
                <a>Sizes</a>
            </div>
            <div class="prop-category-content treeview-item-content">
                <div class="prop-item">
                    <label>
                        Width
                    </label>
                    <input type="text" value="Text">
                </div>
                <div class="prop-item">
                    <label>
                        Height
                    </label>
                    <input type="number" value="Text">
                </div>
                <div class="prop-item">
                    <label>
                        Use ?
                    </label>
                    <input type="checkbox" value="Text">
                </div>
            </div>
        </div>
        <div class="prop-category treeview-item">
            <div class="prop-category-header treeview-item-header">
                <a>Typography</a>
            </div>
            <div class="prop-category-content treeview-item-content">
                <div class="prop-item">
                    <label>
                        Longeur
                    </label>
                    <div class="selectunit">
                        <input type="number">
                        <select>
                            <option value="px">px</option>
                            <option value="pm">em</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    -->
    </div>
</div>