<div class="sidebar">
    <div class="sidebar-navigation">
        <div class="sidebar-navigation-menu">
            <span class="fa fa-home"></span>
        </div>
        <div class="sidebar-navigation-menu active" onclick="toggleSidebar(event)">
            <span class="fa fa-plus-circle"></span>
        </div>
        <div class="sidebar-navigation-menu disabled">
            <span class="fa fa-database"></span>
        </div>
        <div class="sidebar-navigation-menu disabled">
            <span class="fa fa-picture-o"></span>
        </div>
        <div class="sidebar-navigation-menu disabled">
            <span class="fa fa-copy"></span>
        </div>
        <div class="sidebar-navigation-menu disabled">
            <span class="fa fa-code"></span>
        </div>
        <div class="sidebar-navigation-menu">
            <span class="fa fa-columns"></span>
        </div>
    </div>
    <div class="sidebar-toggle">
        <div id="components-toggle" class="sidebar-toggle-menu">
            <scrollbar>
                <div class="components-category-items ">
                    <div class="components-category treeview-item">
                        <div class="components-category-header treeview-item-header">Texts</div>
                        <div class="treeview-item-content">
                            <div class="components-list">
                                <div class="component-item">
                                    <div class="component-item-thumb">
                                        <a class="fa fa-copy"></a>
                                        <span class="component-item-name"> dssdsd</span>
                                    </div>
                                </div>
                                <div class="component-item">
                                    <div class="component-item-thumb">
                                        <a class="fa fa-copy"></a>
                                        <span class="component-item-name"> dssdsd</span>
                                    </div>
                                </div>
                                <div class="component-item">
                                    <div class="component-item-thumb">
                                        <a class="fa fa-copy"></a>
                                        <span class="component-item-name"> dssdsd</span>
                                    </div>
                                </div>
                                <div class="component-item">
                                    <div class="component-item-thumb">
                                        <a class="fa fa-copy"></a>
                                        <span class="component-item-name"> dssdsd</span>
                                    </div>
                                </div>
                                <div class="component-item">
                                    <div class="component-item-thumb">
                                        <a class="fa fa-copy"></a>
                                        <span class="component-item-name"> dssdsd</span>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="components-category treeview-item">
                        <div class="components-category-header treeview-item-header">Containers</div>
                        <div class="treeview-item-content">
                            <div class="components-list">
                                <div class="component-item">
                                    <div class="component-item-thumb">
                                        <a class="fa fa-copy"></a>
                                        <span class="component-item-name"> dssdsd</span>
                                    </div>
                                </div>
                                <div class="component-item">
                                    <div class="component-item-thumb">
                                        <a class="fa fa-copy"></a>
                                        <span class="component-item-name"> dssdsd</span>
                                    </div>
                                </div>
                                <div class="component-item">
                                    <div class="component-item-thumb">
                                        <a class="fa fa-copy"></a>
                                        <span class="component-item-name"> dssdsd</span>
                                    </div>
                                </div>
                                <div class="component-item">
                                    <div class="component-item-thumb">
                                        <a class="fa fa-copy"></a>
                                        <span class="component-item-name"> dssdsd</span>
                                    </div>
                                </div>
                                <div class="component-item">
                                    <div class="component-item-thumb">
                                        <a class="fa fa-copy"></a>
                                        <span class="component-item-name"> dssdsd</span>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="components-category treeview-item">
                        <div class="components-category-header treeview-item-header">Media</div>
                        <div class="treeview-item-content">
                            <div class="components-list">
                                <div class="component-item">
                                    <div class="component-item-thumb">
                                        <a class="fa fa-copy"></a>
                                        <span class="component-item-name"> dssdsd</span>
                                    </div>
                                </div>
                                <div class="component-item">
                                    <div class="component-item-thumb">
                                        <a class="fa fa-copy"></a>
                                        <span class="component-item-name"> dssdsd</span>
                                    </div>
                                </div>
                                <div class="component-item">
                                    <div class="component-item-thumb">
                                        <a class="fa fa-copy"></a>
                                        <span class="component-item-name"> dssdsd</span>
                                    </div>
                                </div>
                                <div class="component-item">
                                    <div class="component-item-thumb">
                                        <a class="fa fa-copy"></a>
                                        <span class="component-item-name"> dssdsd</span>
                                    </div>
                                </div>
                                <div class="component-item">
                                    <div class="component-item-thumb">
                                        <a class="fa fa-copy"></a>
                                        <span class="component-item-name"> dssdsd</span>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </scrollbar>
        </div>
    </div>
</div>