<div class="props">
    <scrollbar>
        <div class="props-category-items">
            <div class="prop-category treeview-item">
                <div class="prop-category-header treeview-item-header">
                    <a>Identification</a>
                </div>
                <div class="prop-category-content treeview-item-content">
                    <div class="prop-item">
                        <label>
                            Class
                        </label>
                        <input type="text" value="">
                    </div>
                    <div class="prop-item">
                        <label>
                            Include theme name
                        </label>
                        <input type="checkbox" checked="true">
                    </div>
                </div>
            </div>
            <div class="prop-category treeview-item">
                <div class="prop-category-header treeview-item-header">
                    <a>Sizes</a>
                </div>
                <div class="prop-category-content treeview-item-content">
                    <div class="prop-item">
                        <label>
                            Width
                        </label>
                        <app-css-length-form style="width: 120px;"></app-css-length-form>
                    </div>
                    <div class="prop-item">
                        <label>
                            Height
                        </label>
                        <app-css-length-form style="width: 120px;"></app-css-length-form>

                    </div>
                    <div class="prop-item">
                        <label>
                            Min Width
                        </label>
                        <app-css-length-form style="width: 120px;"></app-css-length-form>
                    </div>
                    <div class="prop-item">
                        <label>
                            Min Height
                        </label>
                        <app-css-length-form style="width: 120px;"></app-css-length-form>

                    </div>
                    <div class="prop-item">
                        <label>
                            Resiable
                        </label>
                        <input type="checkbox" value="Text">
                    </div>
                </div>
            </div>
            <div class="prop-category treeview-item">
                <div class="prop-category-header treeview-item-header">
                    <a>Apprearance</a>
                </div>
                <div class="prop-category-content treeview-item-content">
                    <div class="prop-item">
                        <label>
                            Visible
                        </label>
                        <input type="checkbox" value="Text">
                    </div>
                    <div class="prop-item">
                        <label>
                            Display
                        </label>
                        <select>
                            <option>Bloc</option>
                            <option>Inline block</option>
                            <option>Flex</option>
                            <option>Inline Flex</option>
                            <option>None</option>
                        </select>
                    </div>

                    <div class="prop-item">
                        <label>
                            Opacity
                        </label>
                        <input type="range" value="1">
                    </div>
                    <div class="prop-item">
                        <label>
                            Z-index
                        </label>
                        <input type="number" value="1">
                    </div>
                </div>
            </div>
            <div class="prop-category treeview-item">
                <div class="prop-category-header treeview-item-header">
                    <a>Positionment</a>
                </div>
                <div class="prop-category-content treeview-item-content">
                    <div class="prop-item">
                        <label>
                            Position
                        </label>
                        <select>
                            <option>Relative</option>
                            <option>Absolute</option>
                            <option>Static</option>
                            <option>Fixed</option>
                        </select>
                    </div>
                    <div class="prop-item">
                        <label>
                            Height
                        </label>
                        <app-css-length-form style="width: 120px;"></app-css-length-form>

                    </div>
                    <div class="prop-item">
                        <label>
                            Min Width
                        </label>
                        <app-css-length-form style="width: 120px;"></app-css-length-form>
                    </div>
                    <div class="prop-item">
                        <label>
                            Min Height
                        </label>
                        <app-css-length-form style="width: 120px;"></app-css-length-form>

                    </div>
                    <div class="prop-item">
                        <label>
                            Resiable
                        </label>
                        <input type="checkbox" value="Text">
                    </div>
                </div>
            </div>
            <div class="prop-category treeview-item">
                <div class="prop-category-header treeview-item-header">
                    <a>Typography</a>
                </div>
                <div class="prop-category-content treeview-item-content">
                    <div class="prop-item">
                        <label>
                            Longeur
                        </label>
                        <div class="selectunit">
                            <input type="number">
                            <select>
                                <option value="px">px</option>
                                <option value="pm">em</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </scrollbar>

</div>